* {
    font-family: arial;
}
body {
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    background-color: skyblue;
    text-align: center;
}
button {
    font-size: 1.5em;
    padding: .5em;
    margin: 1em;
    background-color: goldenrod;
    border: 2px solid black;
    border-radius: 1em;
}
nav {
    background-color: skyblue;
    display: flex;
    justify-content: center;
}
article {
    padding: 1em;
}
section {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
card {
    border: 1px solid black;
    display: inline-block;
    padding: .5em;
    min-width: 10em;
}
